
  <h1 class="text-center">Barcode-It!</h1>
  <div class="container">
    <div id="commentArea">{{this.author}}
      <br/>{{this.comment}}
      <form method="POST" action="/" class="button-size" id="addComment">
        <input type="text" name="author" id="authorInput" placeholder="Name"></input>
        <textarea type="text" name="comment" id="commentInput" placeholder="Comment"></textarea>
        <button type="submit">Post Comment<d/button>
      </form>
    </div>
  </div>
